/Unity/gpu-rendering/Library
/Unity/gpu-rendering/Logs
/Unity/gpu-rendering/obj
/Unity/gpu-rendering/UserSettings
/Unity/gpu-rendering/.idea
/Unity/gpu-rendering/Assembly-CSharp.csproj
/Unity/gpu-rendering/Assembly-CSharp-Editor.csproj
/Unity/gpu-rendering/gpu-rendering.sln
/Unity/gpu-rendering/Temp
